body {
    display: flex; 
    flex-direction: column;
    min-height: 100vh; /* Garante que a altura mínima do body seja a altura da tela */
}

a:hover {
    text-decoration: none;
}

header {
    background-color: #FFD700;
    padding: 1em;
    text-align: center;
    display: flex;
}


header img {
    width: 80px;
}

.header-custom {
    background-color: #ca8a00;
    padding: 20px 0;
}

.logo {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    color: #000;
    padding-top: 10px;
}

/* Estilo da barra de navegação */
.nav-custom {
    background-color: #f8d200;
}

.button-pesquisar-custom {
    background-color: #0a9e2d; 
}

/* Estilo do botão de pesquisa ao passar o mouse*/
.button-pesquisar-custom:hover {
    background-color: #07be32; 
}


/* Navbar personalizada */
.nav-custom {
    background-color: #f8d200; /* Define a cor de fundo da barra de navegação */
}

/* Container principal */
.container {
    max-width: 600px; /* Define a largura máxima do contêiner */
    margin: 20px auto; /* Centraliza o contêiner horizontalmente e adiciona margem superior e inferior */
    padding: 20px; /* Adiciona espaçamento interno ao contêiner */
    background-color: #fff; /* Define a cor de fundo do contêiner */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao redor do contêiner */
    border-radius: 8px; /* Arredonda os cantos do contêiner */
}

/* Títulos */
h1, h2 {
    text-align: center; /* Centraliza o texto dos títulos */
    color: #fff; /* Define a cor do texto dos títulos */
}

/* Botão customizado */
button {
    background-color: #ff0202; /* Define a cor de fundo do botão */
    color: #fff; /* Define a cor do texto do botão */
    border: none; /* Remove a borda do botão */
    border-radius: 4px; /* Arredonda os cantos do botão */
    padding: 10px; /* Adiciona espaçamento interno ao botão */
    cursor: pointer; /* Define o cursor como ponteiro ao passar sobre o botão */
}

.btn-warning {
    background-color: #FFD700; /* Cor de fundo do botão */
    border-color: #000000; /* Cor da borda do botão */
}

button:hover {
    background-color: #218838; /* Altera a cor de fundo do botão ao passar o mouse */
}

/* Estilo do rodapé */
footer {
    margin-top: auto;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    width:100%;
}
