* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f9f9f9;
}

header {
    background-color: #FFD700;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.header-custom {
    background-color: #ca8a00;
    padding: 20px 0;
}

header img {
    width: 80px;
}

.brand {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    color: #000;
    padding-top: 10px;
}

.btn {
    background-color: #FFD700;
    color: #000; 
    border: none; 
}
.btn:hover {
    background-color: #ffeb7a; 
    color: #000
}

i {
    font-size: 45px;
    padding-right: 20px;
}

header a {
    text-decoration: none;
    color: #000;
    align-items: center;
}

header a:hover {
    color: #474747;
}

a span {
    font-size: 18px;
    font-weight: bold;
}

.alert {
    display: none;
}