* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
}

header {
    background-color: #FFD700;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-custom {
    background-color: #ca8a00;
    padding: 20px 0;
}

header img {
    width: 80px;
}

.brand {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    color: #000;
    margin-left: 10px;
}

.btn {
    background-color: #FFD700;
    color: #000;
    border: none;
    width: 48%;
    padding: 30px; 
    font-size: 1.2rem;
    border-radius: 5%; 
}

.btn:hover {
    background-color: #ffeb7a;
    color: #000;
}