.header-custom {
  background-color: #ca8a00;
}

.nav-custom {
  background-color: #f8d200;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.card {
  border: none;
}

.card-title {
  font-size: 1.25rem;
  color: #333;
}

.card-text {
  font-size: 0.9rem;
  color: #555;
}

ul {
  padding-left: 20px;
  margin-bottom: 0;
}

.btn-secondary {
  border: 2px solid #000;
  color: #000;
  background-color: #a0a0a0;
}

.btn-warning {
  background-color: #FFD700; /* Cor de fundo do botão */
  border-color: #000000; /* Cor da borda do botão */
}

.btn-warning:hover {
  background-color: rgb(255, 243, 132); /* Cor do botão ao passar o mouse */
}

ul li {
  list-style-type: disc;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

header {
  background-color: #FFD700;
  padding: 1em;
  text-align: center;
  display: flex;
}

header img {
  width: 80px;
}

.logo {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
  color: #000;
  padding-top: 10px;
}